﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
@if (Context.User.Identity.IsAuthenticated)
{
    <body>
        <div class='page-header'>
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <input type='button' value="Make and Order" class='btn btn-primary' onclick="location.href='@Url.Action("Index", "Cart")'" />
                </div>
            </div>
            <h2>Your Cart</h2>
        </div>

        <div class="table-responsive">
            <table id="cartTable" class='table dt-responsive'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>ProductId</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Delete</th>
                        <th>UserId</th>
                        <th>UserName</th>
                    </tr>
                </thead>
            </table>
        </div>
    </body>
}
</html>


@* Load css *@
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/responsive/2.2.0/css/responsive.bootstrap.min.css" rel="stylesheet" />


@* load js *@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap.min.js"></script>
}