﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
</head>
@if (Context.User.Identity.IsAuthenticated)
{
<body>
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <input type='button' value="Cart" class='btn btn-primary' onclick="location.href='@Url.Action("Index", "Cart")'" />
            </div>
        </div>
        <h2>Product list</h2>
    </div>

    <div class="table-responsive">
        <table id="productTable" class='table dt-responsive'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Category Name</th>
                    <th>Category Id</th>
                    <th>Price</th>
                    <th>Color</th>
                    <th>Vendor Code</th>
                    <th>Quantity</th>
                    <th>AddToCart</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
}
</html>


@* Load css *@
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/responsive/2.2.0/css/responsive.bootstrap.min.css" rel="stylesheet" />


@* load js *@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap.min.js"></script>
}